.testimonial-bg {
  /* opacity: 1;
  background:
    linear-gradient(90deg, rgba(83,115,255,0.3) 0.06%, rgba(0,0,0,0) 0.06%),
    linear-gradient(180deg, rgba(238,0,0,0.3) 0.07%, rgba(0,0,0,0) 0.07%) !important;
    border: none !important; */
}
